@charset "UTF-8";

b {
	font-size: 0.8em;
}

.input {
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-top: 5px;
	width: 272px;
	height: 60px;
	padding-top: 5px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.inputTop {
	background-color: #FFFFFF;
	width: 230px;
	height: 15px;
	margin-left: 2px;
	color: #A6A6A6;
	font-size: 0.8em;
	text-indent: 6px;
	text-align: right;
	border: 0px solid black;
	float: right;
}

.inputBottom {
	background-color: #FFFFFF;
	width: 230px;
	height: 35px;
	margin-left: 3px;
	font-size: 2em;
	text-indent: 6px;
	text-align: right;
	border: 0px solid black;
	float: right;
	text-overflow: ellipsi;
}

#indicatorMemory {
	margin-right: 8px;
	float: left;
	font: 100% Arial;
	margin-top: 6%;
	margin-left: 2%;
}

#indicatorLengthInputTop {
	margin-right: 8px;
	font: 80% Arial;
	margin-top: 2%;
	margin-bottom: 4%;
	margin-left: 2%;
}

.digitBlok {
	width: 166px;
	height: 148px;
	float: left;
}

.digitSection {
	width: 180px;
	height: 35px;
}

.calculateSection, .arefmeticSection {
	width: 52px;
	height: 148px;
	margin-right: 5px;
	float: left;
}

.calculate {
	width: 115px;
	height: 148px;
	float: left;
}

.MemoryAndOperation {
	width: 285px;
	height: 37px;
	margin-right: 5px;
}

.calculus {
	background-color: #F3F3F3;
	width: 281px;
	height: 315px;
	border-radius: 8px;
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-top: 5px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.buttonStyleDigit {
	background-color: #E4E4E4;
	width: 48px;
	height: 28px;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	float: left;
}

.buttonStyle_0 {
	background-color: #E4E4E4;
	width: 104px;
	height: 28px;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	float: left;
}

.buttonText {
	padding-top: 1px;
	margin-top: 5px;
}

.buttonStyleTheResult {
	background-color: #D3D3D3;
	width: 48px;
	height: 78px;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 57px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	float: left;
}

.buttonStyleOther {
	background-color: #D3D3D3;
	width: 48px;
	height: 28px;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	float: left;
}

span:HOVER {
	background-color: #B2B2B2;
}